body {
    font-family: 'lato', sans-serif;
    color: #191d22;
    font-weight: 300;
    letter-spacing: 0.05em;
}

/* colors */
.white{
  color: #dedede;
}
.lightgrey {
  color: #939393;
}
.black {
  color: #191d22;
}

.underlined {
  text-decoration: underline;
}

/* weight */

.thin {
    font-weight: 200;
}

.semibold {
  font-weight: 600;
}

.wide {
  letter-spacing: 0.05em;
}

.extrawide {
  letter-spacing: 0.1em;
}

.text {
  font-family: 'lato', sans-serif;
}
.justify {
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}
