

nav {
  transition: background-color 0.5s;
  background-color: rgba(41, 44, 47, 0.8);
  font-size: 0.75em;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2em;
  position: absolute;
  z-index: 10;
  font-size: 0.75em;
}



nav:hover {
  background-color: rgba(41, 44, 47, 0.9);
}
nav ul {
  text-align: center;
  display: inline-block;
  margin-top: 0.25em;
  position: absolute;
  right: 5%;
}

nav li {
  margin-bottom: 0.25em;
  margin-left: 2em;
  display: inline;
  white-space: nowrap;
  transition-duration: 0.5s;
}

nav li:hover{
  color: #ffffff;
}

nav.sticky{
  position: fixed;
  top: 0;
  left: 0;
}

#nav_logo {
  margin-left: 5%;
  padding-top: 0.4em;
  font-size: 1.2em;
}

.shown {
  opacity: 1;
  transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -webkit-transition: opacity 2s ease-out;
}
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}

@media (min-width: 1000px){
  nav {
    font-size: 1.5em;
  }
  nav li {
    margin-left: 4em;
  }
  @media (min-width: 1400px){
    nav li {
      margin-left: 6em;
    }
  }
}
