body, section, div {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
body {
  background-color: #dedede;
  overflow-x: hidden;
}

section {
  position: relative;
  top: -1.67em;
  margin-bottom: -1.67em;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
}

.dark {
  background-color: #1c1d20;
  color: #cecece;
}

.darkblue {
  background-color: rgba(25,29,35, 1);
  color: #cecece;
}

.darkblue_transparent {
  background-color: rgba(41, 44, 47, 0.7);
  color: #cecece;
}

.parallax {
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#nav {
  transition: background-color 0.5s;
  background-color: rgba(41, 44, 47, 0.8);
}
#nav:hover {
  background-color: rgba(41, 44, 47, 0.9);
}

section h2 {
  padding-top: 15vh;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}

.height_third {
  height: 33.33vh;
}

.height_half {
  height: 50vh;
}

.padding {
  padding: 0.25em 1em;
}
.margin-bottom {
  margin-bottom: 3em;
}

ul.text{
  list-style-position: outside;
  padding-left: 1em;
  margin-top: -1em;
  list-style-type: square;
}

ul.text li {
  padding: 0.25em 0;
}


.block {
  margin: 0 5%;
  display: block;
  vertical-align: top;
}
.block_double {
  margin: 0 5%;
  display: block;
  vertical-align: top;
  width: 95%;
}
@media (min-width: 800px){
  .block {
    display: inline-block;
    width: 45%;
  }

  @media (min-width: 1200px){
    .block {
      width: 22%;
    }
    .block_double {
      display: inline-block;
      width: 55%;
    }
  }
}


.social-media {
  width: 24px;
  margin-right: 0.5em;
  fill: white;
}

.footer {
  padding: 0.5em 5vw 1em 5vw;
  font-size: 0.66em;
}
